<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824082057629-jq3sjf4sj2vf9nk9k36cl1sj18jch729.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824082057629-jq3sjf4sj2vf9nk9k36cl1sj18jch729</string>
	<key>API_KEY</key>
	<string>AIzaSyDCPAi7xb69Dn8bYOVLjjCHJ9PTfQj40Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>824082057629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rnts-todo</string>
	<key>PROJECT_ID</key>
	<string>todo-practice-3fe29</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-practice-3fe29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824082057629:ios:f69751598cf89464468774</string>
	<key>DATABASE_URL</key>
	<string>https://todo-practice-3fe29.firebaseio.com</string>
</dict>
</plist>